@model CardDto

@using WeCollect.Server.Controllers

<br />

@{
    foreach (var parent in Model.parents.Append(Model.ToCardSpec()))
    {
        var isLast = parent.cardContractId == Model.cardsContractId;
        <a href="@Url.RouteUrl(HomeController.CardRoute, new { name = parent.uriName })">@parent.name</a>
        if (!isLast)
        {
            @:&nbsp;>&nbsp;
        }
    }


}

<div class="row">
    <div class="col-md-3">

        <br />

        @* card-img class has a standard min-height so it's not collapsed while it's loading *@
        <img src="@WeCollect.App.Blob.BlobService.Blob.GetUrl(Model.imageBlobName)" class="card-img" />




        <p>
            <br />
            <br />
            <strong>Current price: </strong>@UnitConversion.Convert.FromWei(Model.priceWei, UnitConversion.EthUnit.Ether) ETH
            <br />
            <strong>Next Price: </strong>@UnitConversion.Convert.FromWei(Model.nextPriceWei, UnitConversion.EthUnit.Ether) ETH
            <br />
            <strong>Owner: </strong>
            @if (!string.IsNullOrEmpty(Model.ownerName))
            {
                // link to a profile
                @Model.ownerName
            }
            else
            {
                @:Unowned
            }
        </p>
    </div>
</div>