@model CardDto
@using WeCollect.Server.Controllers

@{
    for (int i = Model.parents.Length; i > 0; i--)
    {
        var parent = Model.parents[i];

        <a> href="@Url.RouteUrl(HomeController.CardRoute)"></a> if (i != 0)
        {
            @:&nbsp;>&nbsp;
        }
    }
}

<div class="row">
    <div class="col-md-3">

        <br />
        <br />
        <br />
        <br />
        <br />

        Current price: @Html.ValueFor(model => model.priceWei)
        Next Price: @Html.ValueFor(model => model.nextPriceEth)
        Owner:
        @if (Uri.IsWellFormedUriString(Model.name, UriKind.Absolute))
        {
            <a href="@Model.name">@Model.name</a>
        }
        else
        {
            @Model.name
        }
    </div>
</div>